* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
header {
    width: 100%;
    height: 90px;
    background-color: whitesmoke;
    padding: 16px 120px 16px 120px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 140px;
}
ul {
    display: flex;
    gap: 32px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease;
}
ul li a:hover {
    color: #30B868;
}
button a {
    text-decoration: none;
    color: white;
}
button {
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #23f97c;
}