* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
header {
    width: 100%;
    height: 90px;
    background-color: whitesmoke;
    padding: 16px 120px 16px 120px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 140px;
}
ul {
    display: flex;
    gap: 32px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease;
}
ul li a:hover {
    color: #30B868;
}
.btn-01 .btn-01-a {
    text-decoration: none;
    color: white;
}
.btn-01 {
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-01:hover {
    background-color: #23f97c;
}






main {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.hero-section {
    min-height: 100vh;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
    color: #ffffff;
    text-align: center;
}
.early-dot {
    width: 230px;
    margin: 0 auto 20px;
    background: #ffffff;
    color: #2fa866;
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #2fa866;
    border-radius: 50%;
    box-shadow: 0 0 8px #2fa866;
    margin-right: 6px;
}
.hero-section h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.hero-section h1 span {
    color: #2fa866;
}
.hero-text {
    max-width: 760px;
    font-size: 16px;
    line-height: 32px;
    color: #d1d5db;
    margin: 0 auto 40px;
    text-align: center;
}
.hero-buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 14px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn.primary {
    background: #2fa866;
    color: #ffffff;
}

.btn.primary:hover {
    background: #25c870;
}

.btn.secondary {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #ffffff;
    background: transparent;
}

.btn.secondary:hover {
    background: rgba(255, 255, 255, 0.1);
}